@using ArtContest.Models
@model List<User>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DividePic</title>
    <link href="~/Common.css" rel="stylesheet" />
</head>
<body>
    @using(Html.BeginForm("DividePic","Admin",FormMethod.Post)) {
        <select name="judgeId">
            <option value="">Select A Judge</option>
            @foreach(var j in Model) {
                <option value=@j.Id>@j.UserFirstName @j.UserLastName</option>
            }
        </select>
            <input type="checkbox" name="grade" value="Preschool" /><label>Preschool</label>
            <input type="checkbox" name="grade" value="Grade 1" /><label>Grade 1</label>
            <input type="checkbox" name="grade" value="Grade 2" /><label>Grade 2</label>
            <input type="checkbox" name="grade" value="Grade 3" /><label>Grade 3</label>
            <input type="checkbox" name="grade" value="Grade 4" /><label>Grade 4</label>
            <input type="checkbox" name="grade" value="Grade 5" /><label>Grade 5</label>
            <input type="checkbox" name="grade" value="Grade 6" /><label>Grade 6</label>
            <input type="checkbox" name="grade" value="Grade 7" /><label>Grade 7</label>
            <input type="checkbox" name="grade" value="Grade 8" /><label>Grade 8</label>
            <input type="checkbox" name="grade" value="Grade 9" /><label>Grade 9</label>
            <input type="checkbox" name="grade" value="Grade 10" /><label>Grade 10</label>
            <input type="checkbox" name="grade" value="Grade 11" /><label>Grade 11</label>
            <input type="checkbox" name="grade" value="Grade 12" /><label>Grade 12</label>
            <input type="submit" value="Confirm" />
    }
    @Html.ActionLink("Back to View Judge","ViewJudge","Admin")
</body>
</html>
