h1{
    color: #4C4C4C;
    font-size: 28px;
    text-align: center;
    font-family:serif
}

h2{
    color: #4C4C4C;
    font-size: 24px;
    text-align: center;
    font-family:serif
}

br{
    line-height:22px;
}

button {
    background-color: #6495ED;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    float: left;
    border: none;
}

p{
width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    margin-left: 15%;
    font-size:20px;
    font-style:italic
}

span{
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    margin-left: 15%;
    font-size:20px;
}

fieldset{
    width:70%;
    margin-left:15%;
}

.actionLink{
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    margin-left: 15%;
    font-size:20px;
}


input[type=text], select {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: 15%;
    font-size:20px;
    padding-left:20px;
    text-align:center;
}

.dropDown{
}

#SearchResult{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 67.8%;
    margin-left: 15%;
}

#DownLoadBtn{
    background-color: #6495ed;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    float:none;
    border-radius: 4px;
    border: none;
}

.textArea{
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: 15%;
    font-size:16px;
    height:400px;
}

.field-validation-error {
    color:#ecf0f1;
    font-size:.6em;
    background-color:#e74c3c;
    width: 70%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size:20px;
    padding-left:20px;
    line-height:50%;
    margin-left:15%;
    text-indent:15%;
}

input[type=file], select {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: 15%;
    font-size:20px;
    text-align:center;
}


input[type=password]{
     width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align:center;
    margin-left: 15%;
    font-size:20px;
}


input[type=submit] {
    width: 70%;
    background-color: #6495ED;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 15%;
    font-size:20px;
}


table {
    border-collapse: collapse;
    width: 70%;
    margin-left:15%;
    
}

th, td {
    text-align: center;
    padding: 8px;
    
}

tr:nth-child(even){background-color: #f2f2f2}

td image{
    height:300px;
}

th {
    
    background-color: #6495ED;
    color: white;
}

input[type=submit]:hover {
    background-color: #6495ED;
}


div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

ul {
    margin-left:15%;
    width:70%;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

li {
    float: left;
    font-size:20px;
}

li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #ddd;
}

li a.active {
    color: white;
    background-color: #6495ED;
}