@using ArtContest.Models
@model List<Picture>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
 <div>
   <table border="1">
       <tr>
          <th>Title</th>
          <th>Art</th>
          <th>Description</th>
          <th>View Larger Picture And Score</th>
           <link href="~/Common.css" rel="stylesheet" />
          <th>Score</th>
       </tr>
           @foreach(var p in Model) {
       <tr>
           <td>@p.Title</td>
           <td><img src="~/@p.PicturePath" width="500" height="300" /></td>
           <td>@p.Description</td>
           <td>@Html.ActionLink("View Bigger Picture and Score","Larger",new { id = p.Id })</td>
           @foreach(var score in p.PictureRates) {
               if(score.PictureId == p.Id && score.JudgeId == (int)Session["userid"]) {
                   <td>@score.Rate</td>
               }
           }
           }
      </tr>
           }
        </table>
    </div>
</body>
</html>
