@using ArtContest.Models
@model LoginModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Common.css" rel="stylesheet" />
</head>
<body>
    <div> 
        <h1>Welcome to CTEF 2016 Art Contest</h1>
        @using (Html.BeginForm("Index", "Home", FormMethod.Post))
        {
            <span>User Name:</span><br />
            @Html.TextBoxFor(m => m.userName)<br />
            <span>Password:</span><br />
            @Html.PasswordFor(m => m.password)<br />
            <input type="submit" value="Login" /><br />
            @Html.ActionLink("Don't have an account?", "Index", "UserSignUp", null, new { @class = "actionLink" })<br />
        }
    </div>
</body>
</html>
