@model ArtContest.Models.VerifyUserEmail

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PasswordFindBack</title>
    <link href="~/Common.css" rel="stylesheet" />
</head>
<body>
    <h1>Upload Your Work</h1>

    @using (Html.BeginForm("PasswordFindBack", "Home", FormMethod.Post))
    {
        <span>Please enter your username</span>
        @Html.TextBoxFor(m => m.UserName)
        <span>Please enter your email address</span>
        @Html.TextBoxFor(m => m.Email)
        <input type="submit" value="upload" />
    }

    
    @Html.ActionLink("Go back", "index", null, null, new { @class = "actionLink" })
</body>
</html>
