<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://artcontest1.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>artcontest1.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>artcontest1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$artcontest1</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="CTEFArtContestEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=ctefartcontestserver.database.windows.net;Initial Catalog=NewCTEFArtContest;Persist Security Info=True;User ID=ctefadmin;Password=ctefR0cks;Application Name=EntityFramework" Name="Data Source=ctefartcontestserver.database.windows.net;Initial Catalog=NewCTEFArtContest;Persist Security Info=True;User ID=ctefadmin;Password=ctefR0cks;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ArtContest.Models.CTEFArtContestEntities, ArtContest" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CTEFArtContestEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.CTEFArtContestModel.csdl|res://*/Models.CTEFArtContestModel.ssdl|res://*/Models.CTEFArtContestModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=ctefartcontestserver.database.windows.net;Initial Catalog=NewCTEFArtContest;Persist Security Info=True;User ID=ctefadmin;Password=ctefR0cks;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>